body {
    padding: 50px;
}

ul#results {
    list-style: none;
    padding: 0;
}

ul#results li {
    margin-bottom: 20px;
}

span.highlight {
    background-color: #ffff7d;
    font-weight: bold;
}

ul.no-bullets {
    list-style: none;
    padding: 0;
}

.no-margin {
    margin: 0;
}